<!DOCTYPE html>

<html lang="zh-yue-Hans">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= title %>
  </title>
  <meta name="description" content="哈，无聊。">
  <meta name="author" content="<%= author %>">

  <!-- Favicons
    ================================================== -->
  <link rel="shortcut icon" href="images/pTitle.ico" type="image/x-icon">
  <!-- <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png"> -->

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

  <!-- Stylesheet
    ================================================== -->
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <!-- Navigation
    ==========================================-->
  <nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
          <span class="icon-bar"></span> </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#features" class="page-scroll">说明</a></li>
          <li><a href="#gallery" class="page-scroll">相册</a></li>
          <li><a href="#about" class="page-scroll">上传</a></li>
          <li><a href="#team" class="page-scroll">可爱的崔秉龙</a></li>
          <!-- <li><a href="#contact" class="page-scroll">Contact</a></li> -->
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
  </nav>
  <!-- Header -->
  <header id="header">
    <div class="intro">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="intro-text">
              <h1>
                <%= IntroTitle %>
              </h1>
              <p>Contact : (0086) 13430337730</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Features Section -->
  <div id="features" class="text-center">
    <div class="container">
      <div class="section-title">
        <h2>微尘生命断义之处</h2>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div class="features-item">
            <p>以此为名义，敬仰我们所尊爱的，并且美丽的一切。思考、回忆、远望。</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Gallery Section -->
  <div id="gallery" class="text-center">
    <div class="container">
      <div class="section-title">
        <h2>相册哟~</h2>
      </div>
    </div>
    <div class="container-fluid">


      <div class="row">


        <% PhotoList.forEach(function(album){ %>

        <div class="col-md-4  col-sm-4 col-xs-12 wordpress">
          <!-- Single Works -->
          <div class="gallery-item ">
            <a  href="/album?dir=<%- album.DName; %>">

              <img src="<%- album.DPath; %>">
              <div class="works-hover">
                <p>
                  <%- album.DName; %>'s&nbspLife
                </p>

              </div>
            </a>
          </div>
          <!--/ End Single Works -->
        </div>
        <% }); %>
      </div>
    </div>
  </div>
  <!-- About Section -->
  <div id="about">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-6 about-img"> </div>
        <div class="col-xs-12 col-md-4 col-md-offset-1">
          <div class="about-text">
            <div class="section-title">
              <h2>上传相册</h2>
            </div>
              <input type="text" id="txtPasswork" class="form-control" placeholder="密码" name="pw" required="required">

              <input id="fileUpload" type="file" class="btn btn-custom btn-lg btn-upload" multiple>
              <button id="btnUpload" type="submit" class="btn btn-custom btn-lg">上传</button>
              <select id="whichalbum" name="album" class="form-control">
                <% PhotoList.forEach(function(album){ %>
                <option value="<%- album.DName; %>">
                  <%- album.DName; %>
                </option>
                <% }); %>
              </select>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                  aria-valuemax="100"><span class="" id="txtPercent"></span></div>
              </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Team Section -->
  <div id="team">
    <div class="container">
      <div id="row">
        <div class="col-md-7">
          <div class="col-md-10 col-md-offset-1">
            <div class="section-title">
              <h2>可爱的崔秉龙</h2>
            </div>
            <p>我实在没有办法不摆出自己的照片。不要问我为什么要摆自己的照片出来，因为，这个网站其实我只是给我自己看的，仅此而已，而且这个网站也只是一个试验田，虽然我觉得我会买一个域名
              但我实在没打算公开，并且有一个最重要最重要的原因。
            </p>
            <p>因为我实在觉得我太可爱了。</p>
          </div>
        </div>
        <div class="col-md-5">
          <div class="team-img"><img src="images/me.JPG" alt="..."></div>
        </div>
      </div>
    </div>
  </div>


  <div id="footer">
    <div class="container text-center">
      <div class="col-sm-7">
        <div>
          <address>
            三世书系统<br />
            <abbr title="Phone">Mobile: </abbr>
            13430337730<br />
            <abbr title="E-Mail">E-Mail: </abbr>
            <a href="mailto:13430337730@139.com">13430337730@139.com</a><br />
            <abbr title="E-Mail">E-Mail: </abbr>
            <a href="mailto:BerryBCLove@Gmail.com">BerryBCLove@Gmail.com</a><br />
            <abbr title="E-Mail">E-Mail: </abbr>
            <a href="mailto:Berry_BC_@163.com">Berry_BC_@163.com</a><br />

            <br />
            <a href="#">服务条款 ( Terms Of Service )</a><br />
            Copyright © 2015-2018.Berry Cui All rights reserved.<br />
          </address>
        </div>
      </div>

      <div class="col-sm-3">
        <div>
          <address>
            请我喝杯咖啡呗~<br />
            请扫支付宝二维码~<br />
            <img src="/images/zhifu.JPG" height="200" width="200" />
          </address>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="javascripts/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="javascripts/bootstrap.js"></script>
  <!-- <script type="text/javascript" src="javascripts/SmoothScroll.js"></script> -->
  <script type="text/javascript" src="javascripts/jqBootstrapValidation.js"></script>
  <script type="text/javascript" src="javascripts/main.js"></script>
</body>

</html>